# Django
SECRET_KEY=genera-una-clave-secreta-para-produccion
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,.onrender.com
CSRF_TRUSTED_ORIGINS=https://*.onrender.com

# Base de datos (opcional para PostgreSQL en Render)
# DATABASE_URL=postgres://usuario:password@host:5432/nombre_db
